@{
    Layout = "_Layout_Deslogado";
    ViewData["Title"] = "Página restrita";
}

<p>Seu usuário não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index" >clique aqui para voltar para Home.</a></p>